.card-container {
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .card-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
  
  .card-container.show-more {
    max-height: 1000px;
  }